ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navBarItem {
  float: right;
}

.navBarButton {
  display: block;
  color: #262526;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'futura', futura, sans-serif;
}

li a:hover {
  text-shadow: 1px 1px #fdd000;
  text-decoration: underline;
  text-decoration-color: #fdd000;
}

.split {
  height:100%;
  top: 0;
}

.left {
  display: flex;
  background-color: #f3f3f3;
  left: 0;
  width: 10%;
  position: fixed;
  justify-content: center;
  align-items: flex-end;
}

.center {
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #f3f3f3;
  max-width: 70%;
  width: 100%;
  height: 100%;
}

.right {
  left: 90%;
  width: 10%;
  background-color: #f3f3f3;
  position: fixed;
  z-index: -1;
}

.sblcontainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 25%;
}

.sblitem {
  padding: 20%;
}

.sblitem:hover {
  background-color: #fdd000;
  
}

@font-face {
  font-family: "kompot";
  src: url('./media/fonts/KompotDisplayDemo-4BMmx.otf');
}

@font-face {
  font-family: "limelight";
  src: url('./media/fonts/Limelight.ttf');
}

p {
  margin:0;
  color: #262526;
  text-decoration: none;
  font-family: 'futura', futura, sans-serif;
  padding:0;
  font-size: 100%;
}

.nametitle {
  
  font-family: 'kompot';
  font-size: 1000%;
  color: #131313;
  text-shadow: 
    1px 1px 1px #979697,
    2px 2px 1px #9e9e9e,
    3px 3px 1px #a6a5a6,
    4px 4px 2px #adadad,
    5px 5px 2px #b5b4b5,
    6px 6px 2px #bcbcbc,
    7px 7px 2px #c4c4c4,
    8px 8px 2px #cccbcc,
    9px 9px 2px #d3d3d3,
    10px 10px 2px #dbdbdb,
    11px 11px 2px #e3e3e3,
    12px 12px 2px #ebebeb,
    13px 13px 2px #f3f3f3;
}

.nameperiod {
  color: #fdd000;
}

.sectionhead {
  color: #262526;
  text-decoration: none;
  font-family: 'futura', futura, sans-serif;
  font-size: 200%;
  font-weight: bold;
}

.subhead {
  color: #262526;
  text-decoration: none;
  font-family: 'futura', futura, sans-serif;
  font-weight: bold;
}

.subheadtagline {
  color: #262526;
  text-decoration: none;
  font-family: 'futura', futura, sans-serif;
  font-style: italic;
}

.mainaboutcontent {
  display:flex;
}

.mainaboutblurb {
  padding-left: 5%;
}

.mainprojectscontentleft {
  display:flex;
  padding-bottom: 1%;
}

.mainprojectscontentright{
  display:flex;
  flex-direction: row-reverse;
  align-items: left;
}

.mainprojectsimage {
  padding-right: 5%;
}

/* ---card-display--- */

.cardlist {
  display: flex;
}

.card {
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 600px;
  background-position: center;
  border-radius: 60px;
  margin: 15px;

  box-shadow: 1px 1px 1px #979697,
  2px 2px 1px #9e9e9e,
  3px 3px 1px #a6a5a6,
  4px 4px 2px #adadad,
  5px 5px 2px #b5b4b5,
  6px 6px 2px #bcbcbc,
  7px 7px 2px #c4c4c4,
  8px 8px 2px #cccbcc,
  9px 9px 2px #d3d3d3,
  10px 10px 2px #dbdbdb,
  11px 11px 2px #e3e3e3,
  12px 12px 2px #ebebeb,
  13px 13px 2px #f3f3f3;

  min-width: 100px;
  background-size: 110%;
  transition: 0.5s ease;
}

.card:hover {
  min-width: 600px;
  background-size: 110%;
  border-radius: 10px;
}

.card::before {
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #262526;
  transition: 0.5s ease;
}

.card:hover::before {
  background: none;
}

.carddot {
  min-width: 100px;
  text-align: center;
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.carddotimage {
  width: 50px;
  height: 50px;
  background: #fdd000;
  border-radius: 50%;
  transition: 0.5s ease;
}

.card:hover .carddotimage {
  
  background: #262526;
  box-shadow: 1px 1px 1px #979697,
  2px 2px 1px #9e9e9e,
  3px 3px 1px #a6a5a6,
  4px 4px 2px #adadad,
  5px 5px 2px #b5b4b5,
  6px 6px 2px #bcbcbc,
  7px 7px 2px #c4c4c4,
  8px 8px 2px #cccbcc,
  9px 9px 2px #d3d3d3,
  10px 10px 2px #dbdbdb,
  11px 11px 2px #e3e3e3,
  12px 12px 2px #ebebeb,
  13px 13px 2px #f3f3f3;
}

.cardcontents{
  height: 100%;
  display:flex;
  align-items: flex-end;
}

.cardname {
  color: #f3f3f3;
  transform: rotate(-90deg);
  font-family: 'futura', futura, sans-serif;
  font-size: 200%;
  font-weight: bold;
  transition: 0.5s ease;
  max-width: 100%;
  margin-bottom: 120%;
}

.card:hover .cardname {
  color: #f3f3f3;
  transform: rotate(0deg);
  font-size: 0%;
  margin-bottom: 6%;
  margin-left: 15%;
}

.cardhead {
  color: #262526;
  text-decoration: none;
  font-family: 'futura', futura, sans-serif;
  font-size: 125%;
  font-weight: bold;
}

.carddetails {
  padding-left: 15px;
  text-align: left;
  position: absolute;
  top: 3%;
  right: 3%;
  width: 325px;
  transform: translateX(100%);
  transition: 0.5s ease;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.card:hover .carddetails {
  transform: translateX(0);
  opacity: 1;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 5%;
  border: 1px #131313;
  display: flex;
  flex-direction: column;
}