/* Colour values
yellow: #fdd000;
black: #262526;
white: #f3f3f3;
greyheavy: #7f8084;
greymid: #afb2b7;
greylight: #d7d8da; */

/* Fonts */
@font-face {
    font-family: "kompot";
    src: url('./media/fonts/KompotDisplayDemo-4BMmx.otf');
}
  
@font-face {
    font-family: "limelight";
    src: url('./media/fonts/Limelight.ttf');
}

p {
    margin:0;
    color: #262526;
    text-decoration: none;
    font-family: 'futura', futura, sans-serif;
    padding:0;
    font-size: 100%;
}

.nametitle {    
    font-family: 'kompot';
    font-size: 1000%;
    color: #131313;
    text-shadow: 
        1px 1px 1px #979697,
        2px 2px 1px #9e9e9e,
        3px 3px 1px #a6a5a6,
        4px 4px 2px #adadad,
        5px 5px 2px #b5b4b5,
        6px 6px 2px #bcbcbc,
        7px 7px 2px #c4c4c4,
        8px 8px 2px #cccbcc,
        9px 9px 2px #d3d3d3,
        10px 10px 2px #dbdbdb,
        11px 11px 2px #e3e3e3,
        12px 12px 2px #ebebeb,
        13px 13px 2px #f3f3f3;
}
  
.nameperiod {
    color: #fdd000;
}
  
.sectionhead {
    color: #262526;
    text-decoration: none;
    font-family: 'futura', futura, sans-serif;
    font-size: 200%;
    font-weight: bold;
}
  
.subhead {
    color: #262526;
    text-decoration: none;
    font-family: 'futura', futura, sans-serif;
    font-weight: bold;
}
  
.subheadtagline {
    color: #262526;
    text-decoration: none;
    font-family: 'futura', futura, sans-serif;
    font-style: italic;
}

/* NavBar */
ol {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    justify-content: right;
}

.navBarButton {
    display: block;
    color: #262526;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'futura', futura, sans-serif;
}

li a:hover {
    text-shadow: 1px 1px #fdd000;
    text-decoration: underline;
    text-decoration-color: #fdd000;
}

/* MainBody */
.split {
    height:100%;
    top: 0;
}

/* Sidebars */
/* Left */
.left {
    display: flex;
    background-color: #f3f3f3;
    left: 0;
    width: 10%;
    position: fixed;
    justify-content: center;
    align-items: flex-end;
}

.sblcontainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 25%;
}

.sblitem {
    padding: 20%;
}
  
.sblitem:hover {
    background-color: #fdd000;    
}

/* Right */
.right {
    left: 90%;
    width: 10%;
    background-color: #f3f3f3;
    position: fixed;
    z-index: -1;
}

/* Page Container */
.center {
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #f3f3f3;
    max-width: 70%;
    width: 100%;
    height: 100%;
}