ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navBarItem {
  float: right;
}

.navBarButton {
  display: block;
  color: #262526;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'futura', futura, sans-serif;
}

li a:hover {
  background-color: #fdd000;
  text-shadow: 1px 1px #f3f3f3;
}

.split {
  height:100%;
  
  top: 0;
}

.left {
  display: flex;
  background-color: #f3f3f3;
  left: 0;
  width: 10%;
  position: fixed;
  justify-content: center;
  align-items: flex-end;
}

.center {
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
}

.right {
  left: 90%;
  width: 10%;
  background-color: #f3f3f3;
  position: fixed;
  z-index: -1;
}

.sblcontainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 25%;
}

.sblitem {
  padding: 20%;
}