/* Colour values */
:root {
    --yellow: #fdd000;
    --black: #262526;
    --white: #f3f3f3;
    --greyheavy: #7f8084;
    --greymid: #afb2b7;
    --greylight: #d7d8da;
}

/* Fonts */
@font-face {
    font-family: "kompot";
    src: url('../media/fonts/KompotDisplayDemo-4BMmx.otf');
}
  
@font-face {
    font-family: "limelight";
    src: url('../media/fonts/Limelight.ttf');
}

.site {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-image: linear-gradient(to bottom right, var(--black), var(--white));
}
