/* Colour values */
:root {
    --yellow: #fdd000;
    --black: #262526;
    --white: #f3f3f3;
    --greyheavy: #7f8084;
    --greymid: #afb2b7;
    --greylight: #d7d8da;
}

/* Fonts */
@font-face {
    font-family: "kompot";
    src: url('../media/fonts/KompotDisplayDemo-4BMmx.otf');
}
  
@font-face {
    font-family: "limelight";
    src: url('../media/fonts/Limelight.ttf');
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
    padding:100%;    
    margin: 0;
    background-image: linear-gradient(to bottom right, var(--black), var(--white));
    background-color: transparent;
    background-position: center, center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.site {
    display: flex;
    flex-direction: row;
}
