.menuBar {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    height: 10vh;
    align-items: center;
}

.menuButtonList {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    margin-left: 1vh;
    margin-right: 1vh;
    background-color: brown;
}

.menuButton {
    height: 8vh;
    margin-left: 1vh;
    margin-right: 1vh;
    justify-content: center;
    align-items: center;
}

.menuButton:hover {
    background-color: blue;
}

.topMenu {
    justify-content: end;
}

.bottomMenu {
    justify-content: left;
}