/* Colour values */
:root {
    --yellow: #fdd000;
    --black: #262526;
    --white: #f3f3f3;
    --greyheavy: #7f8084;
    --greymid: #afb2b7;
    --greylight: #d7d8da;
}

.pP {
    background-color: transparent;
    display:flex;
    align-items: end;
    justify-content: end;
    width: 70vw;
    padding-bottom: 5vh;
}

.pPPadding {
    height: 20vh;
    width: 100%;
}

.pPProjectList {
    display:flex;
    flex-direction: column;
    padding-right: 0;
    list-style: none;
    margin-right: 4vh;
}

.pPProject {
    width: 60vw;
    text-align: end;
    border: 2px solid var(--greyheavy);
    transition: 0.5s;
    color: var(--black);
    display: flex;
    flex-direction: column;
}

.pPProject:hover {
    border: 2px solid var(--yellow);

    .cPImage {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }

    .cPHighlight {
        color: var(--yellow);
    }

    .cPTechLogo {
        scale: 70%;
        transition: 0.5s;
        
    }

    .cPTechText {
        opacity: 1;
        transition: 0.5ss;
    }
}

.cPProjectContainer {
    display: flex;
    margin: 1vh;
}

.cPImage {
    width: 23%;
    aspect-ratio: 2/3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.cPTechList {
    width: 20%;
}

.cPTech {
    display: flex;
    margin: 1vh;
    align-items: center;
}

.cPTechLogo {
    width: 3vw;
    padding-right: 1vw;
    transition: 0.5s;
}

.cPTechText {
    position: relative;
    opacity: 0;
    transition: 0.5s
}

.cPContent {
    margin: 1vh;
    width: 60%;
}

.cPTitle {
    font-size: 250%;
    font-weight: 100;
    margin-right: 1vh;
}

.cPSubTitle {
    margin-right: 1vh;
    text-align: end;
    font-weight: bold;
}

.cPBlurb {
    margin-left: 1vh;
    margin-right: 1vh;
}

.cPHighlight {
    color: var(--black);
    transition: 0.5s;
}

.cPButtonsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1vh;
}

.cPButton {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 1vh;
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    align-self: end;
    transition: 0.2s;
}

.cPButton:hover {
    color: var(--yellow);
}

.cPButton:active {
    background-color: var(--yellow);
}