/* Colour values */
:root {
    --yellow: #fdd000;
    --black: #262526;
    --white: #f3f3f3;
    --greyheavy: #7f8084;
    --greymid: #afb2b7;
    --greylight: #d7d8da;
}

/* Fonts */
@font-face {
    font-family: "kompot";
    src: url('../media/fonts/KompotDisplayDemo-4BMmx.otf');
}
  
@font-face {
    font-family: "limelight";
    src: url('../media/fonts/Limelight.ttf');
}


.pageHome {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    overflow: hidden;
}

.textContainer {
    padding: 10vh;
    height: 80vh;
}

p {
    margin:0;
    color: #262526;
    text-decoration: none;
    font-family: 'futura', futura, sans-serif;
    padding:0;
    font-size: 125%;
}

.nameTitle {    
    font-family: 'kompot';
    font-size: 1000%;
    
    color: var(--black);
    text-shadow: 
        1px 1px 1px var(--greyheavy),
        2px 2px 1px #86878b,
        3px 3px 1px #8d8e92,
        4px 4px 2px #949599,
        5px 5px 2px #9b9ca0,
        6px 6px 2px #a3a4a7,
        7px 7px 2px #aaabae,
        8px 8px 2px #b1b2b5,
        9px 9px 2px #b9babc,
        10px 10px 2px #c0c1c4,
        11px 11px 2px #c8c9cb,
        12px 12px 2px #cfd0d3,
        13px 13px 2px var(--greylight);
}
  
.namePeriod {
    color: var(--yellow);
}

.sectionHead {
    color: #262526;
    text-decoration: none;
    font-family: 'futura', futura, sans-serif;
    font-size: 200%;
    
}
  