/* Colour values */
:root {
    --yellow: #fdd000;
    --black: #262526;
    --white: #f3f3f3;
    --greyheavy: #7f8084;
    --greymid: #afb2b7;
    --greylight: #d7d8da;
}

/* Fonts */
@font-face {
    font-family: "kompot";
    src: url('../media/fonts/KompotDisplayDemo-4BMmx.otf');
}
  
@font-face {
    font-family: "limelight";
    src: url('../media/fonts/Limelight.ttf');
}

.pP {
    background-color: transparent;
    display:flex;
    align-items: end;
    justify-content: end;
    width: 60vw;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}

.pageAboutText {
    margin-right: 5vh;
    text-align: right;
    color: var(--black);
}

.pPProjectList {
    display:flex;
    flex-direction: column;
    padding-right: 0;
    list-style: none;
    margin-right: 5vh;
}

.pPProject{
    width: 50vw;
    text-align: end;
    border: 2px solid var(--greyheavy);
    transition: 0.5s;
}

.pPProject:hover {
    border: 2px solid var(--yellow);
}

.pPProjectTitle {
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 250%;
    font-weight: 100;
}

.pPProjectSubTitle {
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    font-weight: bold;
}