/* Colour values */
:root {
    --yellow: #fdd000;
    --black: #262526;
    --white: #f3f3f3;
    --greyheavy: #7f8084;
    --greymid: #afb2b7;
    --greylight: #d7d8da;
}

/* Fonts */
@font-face {
    font-family: "kompot";
    src: url('../media/fonts/KompotDisplayDemo-4BMmx.otf');
}
  
@font-face {
    font-family: "limelight";
    src: url('../media/fonts/Limelight.ttf');
}

.pAContainer {
    background-color: transparent;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 70vw;
    height: 90vh;
    position: fixed;
    text-align: right;
    color: var(--black);
}

.pASection {
    width: 60vw;
    margin-right: 5vh;
    margin-top: 1vh;
    text-align: end;
    border: 2px solid var(--greyheavy);
    transition: 0.5s;
    color: var(--black);
    display: flex;
    flex-direction: column;
}

.pASection:hover {
    border: 2px solid var(--yellow);

    .pATechLogo{
        box-shadow: 0 0 0 2px var(--yellow);
    }

    .pAHighlight {
        color: var(--yellow);
    }
}

.pAList {
    display:flex;
    flex-wrap:wrap;
    padding-top: 0;
    padding-right: 0;
    list-style: none;
}

.pATechList {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    list-style: none;
    width: 55vw;
}

.pATechItem{
    width:10%;
    text-justify: center;
}

.pATechLogo {
    width: 6vw;
    margin-bottom: 1vh;
    transition: 0.5s;
    border-radius: 50%;
}

.pATechText {
    text-align: center;
}
    
.trainingItem{
    width:100%;
}

.pAHeading {
    padding:0;
    margin: 1vh;
    text-align: end;
    font-weight: bold;
}

.pageAboutMainText {
    color: var(--black);
    font-size: 200%;
    font-weight: 175;
    margin-right: 1vh;
}

.pageAboutSubText {
    margin-right: 1vh;
    text-align: end;
    font-weight: bold;
}

.pAHighlight {
    color: var(--black);
    transition: 0.5s;
}